body {
    background:black;
    color: white;
    background-image:url("background.png");
}
.div{
    display: flex;
    align-items: center;

}
.invisible{
    display: none
}
.visible{
    display: block
}

main {
    position: sticky;
}

ul {
    position: absolute;
}