body {
    background:black;
    color: white;
    font-family: "Fira Code", monospace;
    overflow: hidden;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    width: 100vw;
    font-weight: 100;
    padding-bottom: 8px;
    color: lime;
}

h1:before{
    content: '___________________======[' ;
    color: white;
}

h1:after{
    content: ']======___________________';
    color: white;
}

.div{
    display: flex;
    align-items: center;}
.invisible{
    display: none;
}
.visible{
    display: block;
}

main {
    position: absolute;
    z-index: -1;
}

.planet-window {
    position: fixed;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 1px solid lime;
    padding: 20px;
    min-width: 200px;
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    color: white;
    z-index: 1000;
}

.planet-content {
    width: 100%;
}

.hidden {
    display: none;
}

.back-button {
    background-color: transparent;
    border: 1px solid lime;
    color: lime;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.back-button:hover {
    background-color: lime;
    color: black;
}

#planet-buttons {
    list-style-type: none;
    padding: 0;
}

#planet-buttons li {
    margin-bottom: 10px;
}

#info-content p {
    margin: 15px 0;

}

.titre {
    font-weight: bold;
    margin-right: 10px;
}

.index-planet {
    position: absolute;
    margin : 0;
    font-size: 2.2em;
    line-height: 1.7em;
    margin-top: 10vh;
}

.planet-button{
    font-family: "Fira Code", monospace;
    font-size: 1.2em;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1.5px solid grey;
    color: white;
    padding: 5px 15px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

.planet-button:hover{
    color: lime;
    border: 1.5px solid lime;
    /* padding: 7px 17px; */
    cursor: pointer; /* Cursor on hover */
}

.toggle-button {
    position: fixed;
    bottom: 50px;
    left: 20px;
    color: lime;
    border: 1.5px solid lime;
    background: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

#info-planet {
    position: absolute;
    color: lime;
    font-size: 1em;
    line-height: 1em;
    right: 0;
    margin-right: 50px;
    text-align: right;
    margin-top: 20vh;
}

#slider-container {
    position: fixed;
    bottom: 2vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;
}

.slider-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2vw;
    width: 25%;
    max-width: 200px;
}

.slider-group label {
    color: lime;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: #ddd;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    background: lime;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2vw;
    max-width: 10px;
    height: 2vh;
    max-height: 20px;
    background: lime;
    cursor: ew-resize;
    border: none;
    border-radius: 0;
}

.slider::-moz-range-thumb {
    width: 2vw;
    max-width: 10px;
    height: 2vh;
    max-height: 20px;
    background: lime;
    cursor: ew-resize;
    border: none;
    border-radius: 0;
}


@media only screen and (max-width: 768px) {
    body{margin: 0;
    width: 100vw;}
    h1:before{
        content: '_=[' ;
        color: white;
    }
    
    h1:after{
        content: ']=_';
        color: white;
    }

    h1 {
        font-size: 1.7em;
        text-align: center;
        width: 100vw;
        position: static;
        font-weight: 100;
        padding-bottom: 8px;
        color: lime;
    }

    .slider::-webkit-slider-thumb,
    .slider::-moz-range-thumb {
        width: 5vw; /* Slightly larger on smaller screens for touch-friendliness */
        max-width: 30px;
        height: 8vh;
        max-height: 50px;
    }

    #slider-container {
        flex-direction: column;
        align-items: right;
        bottom: 1vh;
    }

    .slider-group {
        width: 50%;
        max-width: none;
        margin: 10px 0;
    }

    .planet-window {
        top: 8vh;
        left: 5vw;
        transform: none;
        width: 80vw;
        height: 70vh;
        max-width: none;
        max-height: none;
    }

    .toggle-button {
        display: block;
        bottom: 30px;
    }
}
@media (min-width: 769px) {
    .toggle-button {
        display: none;
    }
}